# general
/build*/
*.rej
*.orig
*.out
CMakeLists.txt.user*
/.clang-format
/.idea

# kate
*~
*-swp
.kateproject.build

# kdevelop
*.kdev4

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# from dolphin
.directory

# LSP Server data
/.clangd
/.cmake/
/.cache/
/compile_commands.json
/cmake-build*
.vscode/
.flatpak/
.flatpak-builder/
/_build/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
Makefile
addons/backtracebrowser/ui_btbrowserwidget.h
addons/backtracebrowser/ui_btconfigwidget.h
addons/close-except-like/ui_close_confirm_dialog.h
addons/externaltools/ui_configwidget.h
addons/externaltools/ui_tooldialog.h
addons/externaltools/ui_toolview.h
addons/gdbplugin/dapclient_debug.cpp
addons/gdbplugin/dapclient_debug.h
addons/gdbplugin/ui_debugconfig.h
addons/kate-ctags/kate_ctags_debug.cpp
addons/kate-ctags/kate_ctags_debug.h
addons/kate-ctags/ui_CTagsGlobalConfig.h
addons/kate-ctags/ui_kate_ctags.h
addons/katebuild-plugin/kate_buildplugin_debug.cpp
addons/katebuild-plugin/kate_buildplugin_debug.h
addons/katebuild-plugin/ui_build.h
addons/katebuild-plugin/ui_buildconfigwidget.h
addons/lspclient/lspclient_debug.cpp
addons/lspclient/lspclient_debug.h
addons/lspclient/ui_lspconfigwidget.h
addons/preview/ktexteditorpreview_debug.cpp
addons/preview/ktexteditorpreview_debug.h
addons/replicode/ui_config.h
addons/search/ui_MatchExportDialog.h
addons/search/ui_results.h
addons/search/ui_search.h
addons/snippets/ui_editrepository.h
addons/snippets/ui_editsnippet.h
addons/snippets/ui_snippetview.h
addons/template/templateplugin_debug.cpp
addons/template/templateplugin_debug.h
addons/template/ui_template.h
addons/textfilter/ui_textfilterwidget.h
apps/kate/sc-apps-kate.icns
apps/kwrite/sc-apps-kwrite.icns
apps/lib/kate_timings_debug.cpp
apps/lib/kate_timings_debug.h
apps/lib/kateprivate_export.h
apps/lib/ui_katesessionmanagedialog.h
apps/lib/ui_sessionconfigwidget.h
apps/lib/ui_welcomeview.h
lib/libkatepch.a
lib/libkatepch_tests.a
pch/empty_pch.c
pch/empty_pch.cpp
pch/kate_test_pch.h
